@use "reset";

button {
  width: 30%;
  padding: 0;
  background-color: hsl(223, 87%, 63%);
  border: none;
  height: 50px;
  border-radius: 40px;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 600;
  box-shadow: hsla(240, 30%, 28%, 0.25) 0 6px 12px -2px,
    hsla(0, 0%, 0%, 0.3) 0 3px 7px -3px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;

  &:hover {
    background-color: hsla(223, 87%, 63%, 0.74);
  }

  &:active {
    top: 2px;
  }
}

footer {
  margin-top: auto;
}

form {
  margin-bottom: 65px;
}

i {
  color: hsl(223, 87%, 63%);
  margin: auto;
  font-size: 16px;
  transition: 0.3s;
}

input {
  border: 1px solid hsl(0, 0%, 59%);
  border-radius: 35px;
  width: 95%;
  height: 50px;
  margin-right: 10px;
  padding: 0 30px;
  font-size: 14px;
}

input[type="email"]:invalid {
  outline-color: hsl(354, 100%, 66%);
}

main {
  margin: auto;
  max-width: 640px;
  height: 940px;
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5px;
}

.copyright {
  font-size: 14px;
  color: hsl(0, 0%, 59%);
}

.email {
  flex: auto;
}

.email-container {
  display: flex;
}

.heading {
  font-size: 45px;
  color: hsl(209, 33%, 12%);
  margin-bottom: 15px;

  span {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
  }
}

.invalid-email {
  text-align: left;
  font-style: italic;
  font-size: 12px;
  margin-left: 45px;
  padding-top: 7px;
  opacity: 1;
  color: hsl(354, 100%, 66%);
}

.logo {
  margin: 40px auto;
  width: 80px;
  height: auto;
}

.social-media {
  display: flex;
  gap: 13px;
  justify-content: center;
  margin: 80px 0 30px;

  a {
    width: 35px;
    height: 35px;
    border: 1px solid hsl(221, 100%, 93%);
    border-radius: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      background-color: hsl(223, 87%, 63%);
    }
  }
}

.social-media a:hover i {
  color: hsl(0, 0%, 100%);
}

.subscribe {
  margin-bottom: 36px;
  font-size: 18px;
}

.valid-email {
  text-align: left;
  font-style: italic;
  font-size: 12px;
  margin-left: 45px;
  padding-top: 7px;
  opacity: 0;
  color: hsl(354, 100%, 66%);
}

@media (max-width: 576px) {
  a {
    width: 35px;
    height: 35px;
  }

  button {
    width: 100%;
    font-size: initial;
    font-weight: 600;
  }

  form {
    margin-bottom: 85px;
  }

  input {
    display: block;
    width: 100%;
  }

  .container-form {
    padding: 0 20px;

    p {
      font-size: initial;
    }
  }

  .copyright {
    font-size: 12px;
  }

  .email {
    p {
      margin: 5px 0 15px;
      text-align: center;
    }
  }

  .email-container {
    flex-direction: column;
    padding: 0 25px;
  }

  .heading {
    font-size: 28px;
  }

  .logo {
    width: 70px;
  }
}
